.section__skill{
    background-color: $color-primary;
    transform: skewY(-7deg);
    height: 70rem;
    margin-top: -8rem;

    &>*{
        transform: skewY(7deg);
    }
}

.skill-box{
    background-color: $color-white;
    display: inline-block;
    height: 40rem;
    margin-top: 18rem;
    &__icon{

    }
}